[submodule "bundle/zencoding"]
    path = bundle/zencoding
    url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/align"]
    path = bundle/align
    url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/scss-syntax"]
    path = bundle/scss-syntax
    url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/phpfolding"]
    path = bundle/phpfolding
    url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "bundle/surround"]
    path = bundle/surround
    url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
[submodule "bundle/matchit"]
    path = bundle/matchit
    url = git://github.com/vim-scripts/matchit.zip.git
