[submodule "bundle/zencoding"]
    path = bundle/zencoding
    url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/align"]
    path = bundle/align
    url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/scss-syntax"]
    path = bundle/scss-syntax
    url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/phpfolding"]
    path = bundle/phpfolding
    url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "bundle/surround"]
    path = bundle/surround
    url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
[submodule "bundle/matchit"]
    path = bundle/matchit
    url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/autoclose"]
    path = bundle/autoclose
    url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/nerdcommenter"]
    path = bundle/nerdcommenter
    url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/jslint"]
    path = bundle/jslint
    url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/oop-javascript-indentation"]
    path = bundle/oop-javascript-indentation
    url = git://github.com/vim-scripts/OOP-javascript-indentation.git
[submodule "bundle/taglist"]
    path = bundle/taglist
    url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/command-t"]
        path = bundle/command-t
        url = git://github.com/wincent/Command-T.git
[submodule "bundle/tagbar"]
        path = bundle/tagbar
        url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
